:root {
  --navy: #001f3f;
  --cgblue: #187795;
  --truewhite: white;
  --celeste: #a7f9eb;
  --ncsblue: #2589bd;
  --blueberry: #6951c7;
  --slateblue: #6f58c9;
  --lightgray: #c6c0be;
  --mildblack: #1a1a1a;
  --richblack: #07070a;
  --turquoise: #15e6cd;
  --spanishblue: #246eb9;
  --springgreen: #0cf574;
  --persiangreen: #009f93;
  --landscape: whitesmoke;
  --russianviolet: #120d31;
}
