.light {
  background-color: var(--landscape);
}

.hero,
.hero__headings,
.main-content {
  margin: 0 auto;
  max-width: 90rem;
  display: inline-block;
}

.separator {
  border: none;
  margin: 0 15vw;
  height: 0.0625rem;
  max-width: calc(100% - 30vw);
  background-color: var(--lightgray);
}

.profile-pic__container {
  width: 5rem;
  height: 5rem;
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s, transform 0.2s;
  box-shadow: 3px 3px 20px 2px var(--mildblack);
}

.profile-pic__container:hover {
  transform: translateY(-2%);
  box-shadow: 1px 1px 25px 2px var(--mildblack);
}

.profile-pic {
  width: 100%;
  height: 100%;
  transform: scale(1.6) translateY(10%);
}

.name {
  font-size: 2rem;
}

.current-role {
  font-size: 1.75rem;
  color: slateblue;
}

.welcome {
  font-size: 1.5rem;
  font-weight: 200;
}

.stuff__list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-around;
}

.hero {
  display: flex;
  padding: 15vh 15vw 0 15vw;
}

.hero__headings {
  display: grid;
  row-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 2rem 15vw;
}

.hex__grid-list {
  display: grid;
  padding: 0 15vw;
  position: relative;
  list-style-type: none;
  box-sizing: border-box;
  transition: filter 0.2s;
  grid-template-rows: repeat(2, 1fr);
}

.hex__grid-list-item {
  z-index: 1;
  width: 100%;
  display: flex;
  position: relative;
}

.hex__grid-list:hover {
  filter: drop-shadow(2px -1px 4px gray) drop-shadow(2px 8px 10px gray);
}

.hex__container {
  flex-grow: 1;
}

.hex__grid-list [class^="icon-"] {
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid var(--lightgray);
}

.hex__grid-list:hover [class^="icon-"] {
  border: none;
}

.hex__grid-list:hover .hex__grid-list-item--tainted .hex {
  background-color: var(--slateblue);
}

.hex__grid-list:hover .icon-github:before,
.hex__grid-list:hover .icon-linkedin:before {
  color: white;
}

.hex,
.hex__container {
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
}

.hex__container {
  width: 3.125rem;
  height: 3.125rem;
}

.hex {
  width: 3rem;
  height: 3rem;
  transition: background-color 0.2s;
  background-color: var(--landscape);
}

.hex__grid-list-item--tainted {
  display: flex;
  justify-content: center;
}

.hex__grid-list-item--tainted {
  z-index: 0;
  top: 1.5rem;
  position: absolute;
  box-sizing: border-box;
  padding-left: calc(15vw + 2.25rem);
  padding-right: calc(15vw + 2.25rem);
}

.stuff__link {
  color: var(--mildblack);
}

.profile-button__container {
  right: 2rem;
  bottom: 2rem;
  filter: none;
  display: flex;
  width: 3.0625rem;
  height: 3.0625rem;
  position: absolute;
  align-items: center;
  justify-content: center;
  transition: filter 0.2s;
}

.profile-button__container:hover {
  filter: drop-shadow(2px -1px 4px gray) drop-shadow(2px 8px 10px gray);
}

.icon-profile {
  z-index: 1;
  pointer-events: none;
  position: relative;
}

.profile-button {
  z-index: 0;
  border: none;
  outline: none;
  border-radius: 50%;
  position: absolute;
  width: calc(100% - 0.625rem);
  height: calc(100% - 0.625rem);
  background-color: var(--landscape);
  /* clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0); */
}

.slider__item figure {
  width: 6.25rem;
  height: 6.25rem;
}

.slider__item figure img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 720px) {
  .separator {
    display: none;
  }

  .hex__grid-list {
    display: none;
  }
}
