@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: FiraSans;
  src: url("fonts/FiraSansCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: FiraSans;
  src: url("fonts/FiraSansCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: FiraSans;
  src: url("fonts/FiraSansCondensed-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?fllytr");
  src: url("fonts/icomoon.eot?fllytr#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?fllytr") format("truetype"),
    url("fonts/icomoon.woff?fllytr") format("woff"),
    url("fonts/icomoon.svg?fllytr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-launch:before {
  content: "\e905";
}
.icon-github:before {
  content: "\e900";
}
.icon-gmail:before {
  content: "\e901";
  color: #d14836;
}
.icon-linkedin:before {
  content: "\e902";
  /* color: #0077b5; */
}
.icon-twitter:before {
  content: "\e903";
  color: #1da1f2;
}
.icon-whatsapp:before {
  content: "\e904";
  color: #25d366;
}
.icon-profile:before {
  content: "\e923";
}
.icon-file-pdf:before {
  content: "\eadf";
}

[class^="icon-"] {
  color: var(--slateblue);
}

.icon-github:before {
  color: var(--mildblack);
}
